node_modules/
.next/
out/
build/
dist/
*.log
.DS_Store
.env
.env*.local
.env.development
.env.production
.env.bak
.env.orig
!.env.example
.vercel
.idea/
.vscode/
coverage/
.turbo/
next-env.d.ts
prisma/migrations/dev.db*
# TypeScript build cache
tsconfig.tsbuildinfo
